﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="controller">
    <h2>Parcelamento</h2>
    <div ng-controller="ParcelamentoController" class="app-container">
        {{Mensagem}}

        <input type="number" name="parcelas" ng-model="parcelamento.parcelas" placeholder="Número de parcelas" />
        <input type="number" name="valor" ng-model="parcelamento.valor" placeholder="Valor das parcelas" />

        <button ng-click="calcularValorDoParcelamento();">Salvar</button>
    </div>
</div>