﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="controller">
    <h2>Usuários</h2>
    <div ng-controller="UsuarioController" class="app-container">
        {{Mensagem}}

        <input type="number" name="id" ng-model="id" placeholder="Id do usuário" />

        <button ng-click="buscarNomePorId();">Buscar</button>
    </div>
</div>
